.main_section {
  padding: 20px 40px;
}

.container {
  padding: 20px;
  transform: translateY(-100px);
  background-color: #fff;
  border-radius: 20px;
}

.search_section {
  max-width: 350px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 50px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}

.search_icon {
  font-size: 20px;
  margin-left: 12px;
  color: rgba(51, 51, 51, 0.377);
}

.search_input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 300;
  font-size: 1.1rem;
  color: rgba(51, 51, 51, 0.377);
}

.product_image {
  width: 100%;
}

.product_container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.detail_container{
    padding: 20px;
}

.product_title{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.377);
}

.product_price{
    font-size: 1.4rem;
    font-weight: 600;
    color: #287ab6;
}

.product_price_container{
    padding: 20px 0;
}

.product_description{
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(51, 51, 51, 0.377);
}

.add_icon{
    font-size:2rem !important;
}


